.sliderWrap{
    width: 225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.priceInput input {
    width: 50px;
}
.priceInput{
    width: 100%;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.priceSlider{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.priceSlider button{
    height: 25px;
    width: 25px;
    margin-right: 5px;
    background-color: gray;
    min-width: 35px;
    min-height: 35px;
    margin-left: 5px;
}
